<div class="connections-pane">
    <div class="connections-pane-header">
        <div></div>
        <div class="connections-pane-actions">
            <button class="conn-btn secondary" id="importConnBtn">
                <i class="fa-solid fa-file-import"></i> Import
            </button>
            <button class="conn-btn secondary" id="createConnBtn">
                <i class="fa-solid fa-server"></i> New Configuration
            </button>
            <button class="conn-btn primary" id="createUserConnBtn">
                <i class="fa-solid fa-plug"></i> New Connection
            </button>
        </div>
    </div>
    <div class="conn-list">
        <div class="conn-list-section-title conn-list-collapsible" data-target="connectionsList">
            <i class="fa-solid fa-chevron-down conn-list-chevron"></i>
            Tunnel Configurations
        </div>
        <div id="connectionsList"></div>
    </div>
    <div class="conn-list">
        <div class="conn-list-section-title conn-list-collapsible" data-target="userConnectionsList">
            <i class="fa-solid fa-chevron-down conn-list-chevron"></i>
            User Connections
        </div>
        <div id="userConnectionsList"></div>
    </div>
    <div class="conn-list">
        <div class="conn-list-section-title conn-list-collapsible" data-target="groupsList">
            <i class="fa-solid fa-chevron-down conn-list-chevron"></i>
            Groups
            <button class="conn-list-section-action" id="createGroupBtn" title="New group">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div id="groupsList"></div>
    </div>
</div>
