<div class="form-container">
    <div class="form-title">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
    </div>
    <div id="formMessage"></div>
    <div class="form-grid" id="settingsGrid"></div>
    <div class="form-actions">
        <button class="conn-btn secondary" id="resetSettingsBtn">
            <i class="fa-solid fa-arrow-rotate-left"></i> Reset Defaults
        </button>
        <button class="conn-btn primary" id="saveSettingsBtn">
            <i class="fa-solid fa-check"></i> Save
        </button>
    </div>
</div>
